    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=61571287846047" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/discgolfclubpraha/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <span class="copyright">&copy; <span id="year"></span> - Discgolf club Praha (DGC Praha), z. s.</span>
                </div>
            </div>

        </div>
    </footer>

    <script>
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
