    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink always-shrink" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@@basePath/index.html">
                <img class="mx-auto" src="@@basePath/img/logo/dgcp-logo-final-white.png" alt="" style="height: 3em;">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@@basePath/index.html#aktuality">Aktuality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@@basePath/index.html#onas">O nás</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@@basePath/index.html#clenstvi">Členství</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@@basePath/index.html#treninky">Tréninky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@@basePath/nase_turnaje.html">Akce</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@@basePath/index.html#partneri">Partneři</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@@basePath/index.html#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
